.DS_Cache
.classpath
.cache
*.class
*.log
.settings
.project
components/base/target
components/test/target
project/target
target
dist/*
lib_managed/
src_managed/
project/boot/
project/plugins/project/

